
:root:has(.mode input:checked) {
    --main-color:#c17e1F;
    --primary-hue:35;
     --primary-saturation:72%;
     --primary-lightness:44%;
     --light-hue:0;
     --light-saturation:84%;
     --light-lightness:44%;
    --color-default:#fff;
    --color-light-gray:#252525;
    --color-tertiary:#9f9f9f;
    --primary-color:#fff;
    --light-color:#171717;
    --secondary-color:#212121;
    --color-node:#0D0D0D;
    --img-color:url(../images/shape-dark.svg)


}
:root:has(.mode input:checked) .mode .light {
display: block;
}
:root:has(.mode input:checked) .mode .dark {
display: none;
}